@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/jane-austen');

*{
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;   
    /* overflow: hidden; */
}


#background {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(https://fauzansulthoni.github.io/integrated698/assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    z-index: 1;
}
.container{
    display: grid;
    justify-content: center;
    position: relative;
    top: 15vh;
    z-index: 10;
}
#logo-marhalah img{
    position: relative;
    display: grid;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 200px;
    z-index: 10;
}
#tagline-marhalah{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.integrated-tagline{
    font-family: 'Cinzel Decorative', Courier, monospace;
    font-weight: 900;
    font-size: 3em;   
    color: #1b4067;
}

#written-animation{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #1b4067; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}
    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1b4067; }
}
    
.integrated-tagline-2{
    font-family: 'JaneAusten', Courier, monospace;
    font-weight: 900;
    font-size: 2rem;
    display: block;
    margin-left: 50%;
    transform: translate(-27%, -15%);
    width: 100%;
}


#branding-flyer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
.top-right-flyer{
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.bottom-left-flyer{
    width: 700px;
    position: absolute;
    bottom: 0;
    left: -75px;
    z-index: 10;
}

.link{
    position: relative;
    /* top: 60%;
    left: 50%; */
    /* transform: translate(-43%, -50%); */
    z-index: 20;
    width: 100%;
    margin: auto;
}

.link-drive{
    display: grid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #caac74;
    border: 2px solid #1b4067;
    transition: 0.3s;
    width: 100%;
}


a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}
@media (min-width: 481px) {
    .link-drive:hover{
        display: inline-block;
        transform: scale(1.5);
        background-color: #1b4067;
        border: 2px solid #edf2e1;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    *{
        overflow-x: hidden;
    }
    #background {
        position: relative;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    .container{
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }
    #logo-marhalah img{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 150px;
        z-index: 10;
    }
    .integrated-tagline{
        font-family: 'Cinzel Decorative', Courier, monospace;
        font-weight: 900;
        font-size: 1.2em;   
        color: #1b4067;
    }
    #tagline-marhalah{
        position: relative;
        display: grid;
        align-content: stretch;
        left: 50%;
        transform: translate(-50%, -17%);
        z-index: 10;
    }
    
    #written-animation{
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .10em solid #1b4067; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .05em; /* Adjust as needed */
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    
    }
        /* The typing effect */
        @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
    
        /* The typewriter cursor effect */
        @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #1b4067; }
    }
        
    .integrated-tagline-2{
        font-family: 'JaneAusten', Courier, monospace;
        font-weight: 900;
        font-size: 0.7em;   
        display: block;
        margin-left: 50%;
        transform: translate(-27%, -15%);
        width: 100%;
    }

    .top-right-flyer{
        width: 200px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .bottom-left-flyer{
        width: 400px;
        position: fixed;
        bottom: 0;
        left: -75px;
        z-index: 10;
    }
    .link{
        display: grid;
        position: relative;
        transform: translate(0%, -10%);
        width: 100%;
        margin: auto;
        z-index: 30;
    }
    
    .link-drive{
        display: grid;
        place-items: center;        
        /* margin: 5 5 5 0; */
        border-radius: 10px;
        background-color: #caac74;
        border: 2px solid #1b4067;
        transition: 0.3s;
        width: 300px;
    }
    

}
